@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@layer utilities {
  .font-archivo {
    font-family: "Archivo", sans-serif;
  }
}

@theme {
  --breakpoint-xs: 580px;
  --breakpoint-xxs: 500px;
  --breakpoint-mdx: 850px;
}


